
.memo_arrow {
    height: 12px;
    transform: rotate(45deg);
    top:-6px;
    width:12px;
    left: 148px;
    position: absolute;
    pointer-events: none;
    background-color: #fff3cd;
    overflow: hidden;
    // transform: rotate(45deg);
}
.arrow {
    opacity: 0;
    position: absolute;
    position: relative;
    width: 320px;
    height: 290px;
    background-color: #fff3cd;
}
.basic{
    height: 270px;
    width: 100%;
    padding: 2px;

}
#title{
    display: float;
    height: 30px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
#content{

}
.footer {
    position: fixed;
    bottom: 0;
    height: 150px;
    width: 100%;
    // background-color: skyblue;
}
.word {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 30px;
    height: 60px;
    width: 50px;
    background-color: green;
}
.select {
    height: 60px;
    text-align: center;
    background-color: skyblue;
    font-size: 25px;
    line-height: 60px;
}
.box-card {
    height: 100%;
    width: 150px;
    display: fixed !important;
    bottom: 170px;
    right: 0;
}

.answer {
    display: flex;
    flex-wrap: wrap;
    div {
        display: inline-block;
        width: 60px;
        text-align: center;
        div {
            display: inline-block;
        }
    }
}

.notShow{
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    color: #888;
}
